<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <title>boss管理后台</title>
    <link rel="stylesheet" href="//at.alicdn.com/t/font_1562572_0qvto491w0lq.css">
    <link rel="stylesheet" href="https://boss-sit.lifekh.com/boss/public/lib/view-design/dist/styles/iview.css">
    <link rel="stylesheet" href="https://boss-sit.lifekh.com/boss/public/lib/viewerjs/dist/viewer.css">
    <script src="https://boss-sit.lifekh.com/boss/public/lib/vue/dist/vue.min.js"></script>
    <script src="https://boss-sit.lifekh.com/boss/public/lib/vue-router/dist/vue-router.min.js"></script>
    <script src="https://boss-sit.lifekh.com/boss/public/lib/vuex/dist/vuex.js"></script>
    <script src="https://boss-sit.lifekh.com/boss/public/lib/view-design/dist/iview.js"></script>
    <script src="https://boss-sit.lifekh.com/boss/public/lib/view-design/dist/locale/zh-CN.js"></script>
    <script src="https://boss-sit.lifekh.com/boss/public/lib/view-design/dist/locale/en-US.js"></script>
    <script src="https://boss-sit.lifekh.com/boss/public/lib/vue-i18n/dist/vue-i18n.js"></script>
    <script src="https://boss-sit.lifekh.com/boss/public/lib/socket.io-client/dist/socket.io.js"></script>
    <script>
        window.ssrConfig = '{{ config }}';
    </script>
</head>
<body>
  	<div id="app"></div>
</body>
</html>
