
.dialogWidth_card .tit
    width 100px
    text-align right
.md-field.md-theme-default.md-has-textarea:not(.md-autogrow):before
    border-color #f39322 !important
.md-button
    margin 0
/* 汇兑管理详细 */
.dialogWidthExchange_detail .box
    display flex
.dialogWidthExchange_detail .box >div
    width 40%
.dialogWidthExchange_detail .line-box
    padding-left 30px
/* 汇兑管理表单 */
.dialogWidthExchange
    width 600px !important
    height 700px
    overflow scroll
.dialogWidthExchange .box
    display flex
    justify-content space-between
    margin-top 30px
.dialogWidthExchange .box >div
    width 40%
/* 版本管理 */
.dialogWidth_edition_detail .block
    line-height 1.6
.dialogWidth_edition_detail .md-checkbox
    margin 0
    margin-left 15px
    position relative
    top 3px
.dialogWidth_edition_detail .md-checkbox .md-checkbox-label
    margin-left -5px
.dialogWidth_edition_detail .tit
    width 100px
    text-align right
    margin-right 10px
.dialogWidth_edition_detail .val
    display flex
    align-items center
    word-break break-all
/* 调账 */
.md-dialog.dialogManual
    width 1100px
.md-dialog.dialogManual .input-title
    margin-right 15px
.md-dialog.dialogManual .input-block
    margin-bottom 30px
    display flex
    align-items center
.md-dialog.dialogWidth
    min-width 500px
.dialogWidth .block .tit
    font-size 15px
.dialogWidth .block .val
    font-size 13px
    color #797979
    margin-left 15px
    margin-right 5px
    max-width 300px
/* 上传凭证/重新上传凭证 弹窗 ---------- */
.md-dialog.dialogWidth_voucher
    width 600px
.dialogWidth_voucher .block, .dialogWidth .block
    display flex
    margin-bottom 5px
.dialogWidth_voucher .block .t
    font-size 15px
.dialogWidth_voucher .block .v
    font-size 13px
    color #919191
.dialogWidth_voucher .cn
    margin-bottom 15px
    color #919191
/* 上传凭证/重新上传凭证 弹窗------------end */
.md-dialog.dialogWidth_push
    overflow scroll
/*  */
.dialog_content
    padding 0px 60px
    box-sizing border-box
.dialog_content_
    height 700px
    overflow scroll
.md-list-item-content
    font-size 12px !important
.md-select-menu
    z-index 200
.md-dialog .ml
    margin-top 5px
    padding-left 30px
.md-overlay
    z-index 10 !important
.md-field.md-theme-default.md-has-textarea:not(.md-autogrow):before
    border-color #f39322 !important
.md-field.md-theme-default:before
    background-color #f39322 !important
.md-field.md-theme-default.md-focused label
    color #f39322 !important
.md-radio.md-theme-default.md-checked .md-radio-container
    border-color #f39322 !important
.md-radio.md-theme-default.md-checked .md-ripple
    color #f39322 !important
.md-radio.md-theme-default.md-checked .md-radio-container:after
    color #f39322 !important
    background-color #f39322 !important
.md-checkbox.md-theme-default.md-checked .md-checkbox-container
    color #f39322 !important
    background-color #f39322 !important
    border-color #f39322 !important
.md-dialog
    max-height 100%
