.form-btn-wrapper
    display flex
    justify-content center
    .ivu-btn
        min-width 120px
        margin 0 10px
.card-margin-bottom
    margin-bottom $gutter
.form-card
    margin-bottom $gutter
.table-card
    position static
.table-card-title
    display flex
    justify-content space-between
    align-items center
    &>div:first-child
        font-weight bold
    &.flex-left
        justify-content flex-start
.table
    border none
.table-page
    display flex
    justify-content flex-end
    padding $gutter
