.buttons_wrap
    display flex
    justify-content center
    margin-top 30px
.buttons_wrap button
    width 120px
    line-height 1.6
.buttons_wrap button
    margin-right 30px
.buttons_wrap button:last-child
    margin-right 0
.buttons_wrap button i
    font-size 18px
button.success
    background #f90 !important
    color #fff !important
button.warning
    background #f90 !important
    color #fff !important
button.normal
    background #f90 !important
    color #fff !important
