.form-card .title
    font-size 14px
    font-weight bold
.ivu-form-item-content
    /* margin-top: 15px; */
    display flex
    flex-wrap wrap
.ivu-form-item-content .input-title
    margin-right 15px
    font-size 13px
/* ---------------------------------- */
.page .title
    font-size 14px
    font-weight bold
.page .buttons
    width 100%
    display flex
    justify-content center
.iview-form
    margin-top 15px
    display flex
    flex-wrap wrap
.iview-form .input-title
    margin-right 15px
    font-size 13px
.iview-form .input-block
    display flex
    align-items center
    margin-right 30px
    margin-bottom 30px
.page-divited
    width 100%
    display flex
    margin-top 15px
th .ivu-table-cell
    white-space nowrap
